<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Ansible</title>
    </head>
    
    <body>
        <h1>Nginx, configuré par Ansible !</h1>
        <p>Le playbook c'est bien exécuté ! BADABOUM !</p>
        <p>Et ça tourne sur la VM {{ inventory_hostname }} !</p>
    </body>
</html>
